h1 {
  color: Indigo;
  font-family: 'Cutive Mono', monospace;
  text-align: center;
}

table {
  border: 5px ridge DarkMagenta;
  background-color: Thistle;
  border-collapse: collapse;
  text-align: center;
}

th {
  border: 1px solid DarkMagenta;
  background-color: MediumPurple;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
}
tr {
  border: 1px solid DarkMagenta;
  border-collapse: collapse;
}
td {
  border: 1px solid DarkMagenta;
  border-collapse: collapse;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.element {
  font-family: 'Cutive Mono', monospace;
  font-size: 15px;
}